<div>
    <h1>Bienvenidos al carrito</h1>
    <div>
         <p>Carrito: {{cart._id}}</p>
        {{#each cart.products}}   
        <p>id: {{this.product._id}}</p>
        <p>quantity: {{this.quantity}}</p>
        <p>title:{{this.product.title}}</p>
        {{/each}}

    </div>
    <br><br>

</div>

