<div>

    <h1>Reseteo</h1>

    <form id="newPassForm">
        <label>Ingrese su nueva contraseña</label>

        <input name="password" type="password">

        <br />

        <input type="submit">

    </form>


</div>

<script src="/js/newPassword.js"></script>