  <div>
    <h1>Hola bienvenidos al sitio</h1>
    <h2>Aquí encontrará productos en tiempo real</h2>
    <div id="container">
    
    <br><br>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>