<div>

    <h1>Reseteo</h1>

    <form id="resetForm">

        <label>Ingrese el correo asociado a la cuenta</label>

        <input name="email">

        <br />

        <input type="submit">

    </form>
    

</div>

<script src="/js/reset.js"></script>